<%- include("partials/header") %>

<div class="container text-center formWidth">
    <h2 class="mt-4">Sign Up <i class="fas fa-user-plus"></i></h2>
    <div class="form-group my-3">
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Username" class="d-block w-80 form-control my-3">
            <input type="password" name="password" placeholder="Password" class="d-block w-80 form-control my-3">
            <input type="submit" value="Sign Up" class="btn btn-info btn-block">
        </form>
    </div>
</div>

<%- include("partials/footer") %>