<%- include("partials/header") %>

<h2>Sign Up</h2>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign Up">
</form>

<%- include("partials/footer") %>